*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:  Arial, Helvetica, sans-serif;
}
header{
display: flex;
justify-content: space-between;
}
.logo{
    flex:1
}
.menu{
    flex:3
}
.other{
    flex:1;
}
